.container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: auto;
      background-color: #eee;
      padding: 10px;
    }
    
    .box {
      background-color: #4CAF50;
      color: #fff;
      text-align: center;
      padding: 5px;
      margin: 1px;
      border-radius: 30px;
    }
    
    body {
      font-family: 'Roboto', sans-serif;
    }
    
    .button-page {
      width: 70%;
      padding: 7% 0 0;
      margin: auto;
    }
    
    .form {
      position: relative;
      z-index: 1;
      background: #FFFFFF;
      max-width: 90%;
      margin: 0 auto 100px;
      padding: 45px;
      text-align: center;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      border-radius: 3px;
    }
    
    .form button {
      font-family: 'Roboto', sans-serif;
      text-transform: uppercase;
      outline: 0;
      background: #4CAF50;
      width: 500px;
      border: 0;
      margin: 0 0 30px;
      padding: 15px;
      color: #FFFFFF;
      font-size: 18px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;
      border-radius: 2px;
    }
    
    .form button:hover,
    .form button:active,
    .form button:focus {
      background: lightgreen;
      color:black;
    }
    
    .form table,
    td {
      font-size: 25px;
      text-align: left;
      padding: 10px;
      margin: auto;
    }
    
.form select {
  width: 500px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #fff;
  font-size: 18px;
  color: #333;
  padding: 10px;
  margin:auto;
}

.form option {
  background-color: #eee;
  color: #333;
  font-size: 20px;
  
}